<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.jmixforanalyst/menu.application.title" opened="true">
        <item view="jal_User.list" title="msg://com.company.jmixforanalyst.view.user/UserListView.title"/>
        <item view="ext_bpm_ContentStorage.list"
              title="msg://com.company.jmixforanalyst/menu_config.ext_bpm_ContentStorage.list.title"/>
        <item view="jal_StormDiagramDto.list"
              title="msg://com.company.jmixforanalyst.view.stormdiagramdto/stormDiagramDtoListView.title"/>
    </menu>

</menu-config>